$grey-1: #F4F4F4;
$grey-2: #464A4E;
$grey-3: #DEDEDE;
$white: #FFFFFF;

.grey-1 {
    color: #F4F4F4;
}
.grey-2 {
    color: #464A4E;
}


.bg-grey-1 {
    background-color: #F4F4F4;
}

.bg-grey-2 {
    background-color: #464A4E;
}
