
.flex-center-column {
    @include flex-center-column;
    width: 100%;
}


.flex-end-column {
    @include flex-end-column;
    width: 100%;
}

.flex-center-center {
    width: 100%;
    @include flex-center-center;
}

.flex-start-center {
    width: 100%;
    @include flex-start-center;
}

.c-gap-10 {
    column-gap: 10px;
}
.c-gap-20 {
    column-gap: 20px;
}
.grid-gap-10 {
    grid-gap: 10px;
}
.grid-gap-20 {
    grid-gap: 20px;
}
