.grey-1 {
  color: #F4F4F4;
}

.grey-2 {
  color: #464A4E;
}

.bg-grey-1 {
  background-color: #F4F4F4;
}

.bg-grey-2 {
  background-color: #464A4E;
}

body {
  width: 100%;
  margin: 0px;
  color: #464A4E;
  font-family: "montserrat_regular";
  font-size: 16px;
  line-height: 27px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #F4F4F4;
  width: 100%;
  background-image: url("../assets/images/code-solid.svg");
  background-repeat: no-repeat;
  height: 80vh;
  background-size: 70%;
  background-position: center;
}
header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  max-width: 100%;
}
header .content div h1 {
  margin-top: 10px;
}
header .content div h1.title {
  font-family: "montserrat_bold";
  letter-spacing: 3px;
}
header .content div h1.name {
  font-family: "montserrat_regular";
}
header .content img {
  border-radius: 50%;
  width: 400px;
  max-width: 70%;
}
@media (max-width: 1300px) {
  header {
    background-image: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
  }
  header .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 40px;
  }
  header .content div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    background-image: url("../assets/images/code-solid.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 300px;
    height: 300px;
  }
}
@media (max-width: 600px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .content {
    grid-gap: 20px;
  }
  header .content div {
    background-size: auto 200px;
    height: 200px;
  }
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 0;
}

.block-container,
.block-background-pattern {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 40px 20px 70px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.block-container h2,
.block-background-pattern h2 {
  margin-top: 0px;
}
@media (max-width: 600px) {
  .block-container,
.block-background-pattern {
    padding: 30px 20px 60px 20px;
  }
}

.block-background-pattern {
  background-color: #F4F4F4;
  border: 15px solid #F4F4F4;
  background-image: url("../assets/images/code-solid-pattern.svg");
  background-repeat: repeat;
  background-size: 25px auto;
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  row-gap: 40px;
  margin-top: 25px;
}
.images .image,
.images a.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.images .image h5,
.images a.image h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 11px;
  font-family: "montserrat_bold";
  text-transform: uppercase;
}

.block-section-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 800px;
  max-width: 100%;
}
.block-section-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
  row-gap: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 800px) {
  .block-section-list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 600px) {
  .block-section-list ul {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.block-section-list ul li {
  width: 300px;
  max-width: 100%;
}
@media (max-width: 800px) {
  .block-section-list ul li {
    width: 500px;
  }
}

.block-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1000px;
  max-width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
}
.block-portfolio .portfolio-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.block-portfolio .portfolio-item .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  width: 100%;
}
.block-portfolio .portfolio-item .content div {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 700px) {
  .block-portfolio .portfolio-item .content div {
    text-align: center;
  }
  .block-portfolio .portfolio-item .content div ul {
    text-align: left;
  }
}
.block-portfolio .portfolio-item img.portrait {
  height: 400px;
  width: auto;
}
@media (max-width: 800px) {
  .block-portfolio .portfolio-item img.portrait {
    height: 300px;
    width: auto;
  }
}
.block-portfolio .portfolio-item img.landscape {
  width: 600px;
  height: auto;
}
@media (max-width: 800px) {
  .block-portfolio .portfolio-item img.landscape {
    width: 300px;
    height: auto;
  }
}
.block-portfolio .hidden {
  display: none;
}

.flex-center-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.flex-end-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.flex-center-center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-start-center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-gap-10 {
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.c-gap-20 {
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.grid-gap-10 {
  grid-gap: 10px;
}

.grid-gap-20 {
  grid-gap: 20px;
}

.editor-styles-wrapper .wp-block {
  margin-bottom: 130px;
}